@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$primary-color: #53C0FA;
$primary-color-highlight: #4298C7;
$primary-color-light: #9FDBFB;
$active-input-color: white;
$transition-duration: .125s;

$inactive-input-color: darken($active-input-color, 3%);
$active-input-border-color: $primary-color;
$inactive-input-border-color: darken($inactive-input-color, 10%);

html, body {
    height: 100vh;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    background-color: #fbfbfb;
}

@mixin input-common {
    padding: 5px;
    border-radius: 3px;
    outline: none;

    transition: background-color $transition-duration;
}

input {
    @include input-common();
    background-color: $inactive-input-color;
    color: black;
    border: .5px solid $inactive-input-border-color;

    &:focus {
        background-color: $active-input-color;
        border-color: $active-input-border-color;
    }
}

button {
    @include input-common();
    border: none;
    background-color: $primary-color;
    color: white;
    text-transform: uppercase;

    &:hover, &:focus {
        background-color: $primary-color-highlight;
    }
}

a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        color: $primary-color-highlight;
    }
}

h2 {
    margin: 0px;
    margin-bottom: 3px;
}

/*
 * Login Screen
 */
div.login-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;

    input, button {
        margin: 3px;
    }
}

/*
 * Base View
 */
div.base-wrapper {
    display: flex;
    height: 100%;

    div {
        padding: 3px;
        box-sizing: border-box;
    }

    h2 {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid $inactive-input-border-color;
    }
}

/*
 * The list of rooms
 */
div.rooms-wrapper {
    flex-shrink: 0;

    a {
        display: block;
    }
}

/*
 * The current room, if any.
 */
div.room-wrapper {
    flex-grow: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
}

/*
 * The message input and send button.
 */
div.message-wrapper {
    display: flex;

    input {
        flex-grow: 9;   
        margin: 3px;
    }

    button {
        flex-grow: 1;
        margin: 3px;
    }
}

div.events-wrapper {
    overflow-y: scroll;
    flex-grow: 1;
}

table.events-table {
    td {
        padding-left: 5px;
        vertical-align: top;
    }
}

span.sender-wrapper {
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

/**
 * Icons
 */
.feather-icon {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    height: 20px;
    width: 20px;
}
